/* 관리자 회원 목록보기(admin_list.php) */
#cart_box {font-family: Noto Sans KR, sans-serif;
 width: 90%; margin: 0 auto;}
#cart_box h3#member_title { font-size: 20px; margin: 130px 0 20px 0;}
#cart_box h3#board_title { font-size: 20px; margin: 30px 0 20px 0;}

#shop_list { color: #9b9b9b; text-align: left; display: inline-block; margin: 10px 0 50px 0;}
#shop_list .col1 { width: 300px; text-align:left;; vertical-align: middle;}
#shop_list .col1 img{height: 100px; text-align:center; vertical-align: middle;}
#shop_list .col2 { width:100px;vertical-align: middle; }
#shop_list .col3 { width: 100px; vertical-align: middle;  color: #000000;}
#shop_list .col4 { width:100px; vertical-align: baseline; }
#shop_list .col5 { width:90%; vertical-align: middle; text-align: right; color: #000000;}
#shop_list li.title { color: #9b9b9b; font-weight: bold; border-bottom: solid 1px #9b9b9b; }
#shop_list li.title span.col4 {  text-align: center; }
#shop_list li { padding: 10px 0; border-bottom: solid 1px #9b9b9b; }
#shop_list span { display: inline-block; text-align: left; }
#shop_list button { margin: 20px 0 0 20px; padding: 5px 10px;}
